asgiref==3.7.2
certifi==2023.7.22
cffi==1.15.1
charset-normalizer==3.2.0
cryptography==41.0.3
defusedxml==0.7.1
diff-match-patch==20230430
Django==3.2
django-allauth==0.54.0
django-appconf==1.0.5
django-ckeditor==6.7.0
django-compressor==4.4
django-import-export==3.2.0
django-jazzmin==2.6.0
django-js-asset==2.1.0
django-libsass==0.9
django-multiselectfield==0.1.12
django-paypal==2.0
django-sass-processor==1.2.2
django-taggit==4.0.0
django-widget-tweaks==1.4.12
docker==6.1.3
et-xmlfile==1.1.0
gunicorn==21.2.0
idna==3.4
import-export==0.3.1
libsass==0.22.0
MarkupPy==1.14
mysqlclient==2.2.0
oauthlib==3.2.2
odfpy==1.4.1
openpyxl==3.1.2
packaging==23.1
Pillow==10.0.0
psycopg2-binary==2.9.7
pycparser==2.21
PyJWT==2.8.0
python3-openid==3.2.0
pytz==2023.3
pywin32==306
PyYAML==6.0.1
rcssmin==1.1.1
requests==2.31.0
requests-oauthlib==1.3.1
rjsmin==1.2.1
sqlparse==0.4.4
tablib==3.5.0
urllib3==2.0.4
websocket-client==1.6.1
whitenoise==6.5.0
xlrd==2.0.1
xlwt==1.3.0
